#messy,#bestial{
    color: red;
}

.alert{
    max-width: 320px;
}

.input-group{
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group-prepend .input-group-text{
    width: 92px;
}

.input-group-text.red{
    color: #831515;
}

.btn{
    margin-bottom: 10px;
}

hr{
    margin-top: 10px;
}

.col-sm-6{
    padding: 0px;
}

.selected-die{
    background-color: #831515;
}

h2{
    margin-top: 10px;
    margin-bottom: 16px;
}

/* h3 styles for the details' summary */
summary {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}